{% extends 'base.html.twig' %}

{% block title %} {{controller_name}} {% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
</div>
{% endblock %}

{# Display all players in decroissant order of point (from 1st with most points to last with less points) by adding all tables scores #}
{# Possibility to choose beetween Top50 and Top100 #}