{% extends 'base.html.twig' %}

{% block title %} {{controller_name}} {% endblock %}

{% block body %}
    <section id="rankings" class="w-full p-10 flex flex-wrap justify-evenly text-4xl uppercase">

    </section>
{% endblock %}
