{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <section class="w-screen p-10 grid grid-cols-5 grid-flow-col gap-4">
        <img src="https://picsum.photos/400/200" class="image-container h-full col-span-3 w-full"></img>
        <div class="ranking-preview h-full col-span-2 text-xl text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, ut dicta iste reiciendis sunt nisi sequi provident commodi. Consequatur, similique aspernatur esse eos doloribus numquam libero atque expedita praesentium et.
        </div>
    </section>
    <section class="w-screen p-10 flex justify-evenly text-4xl uppercase">
        <div class="link-container bg-lime-300 p-20 rounded-3xl ease-in-out duration-200 hover:scale-105 hover:shadow-xl active:scale-95"><a href="">Global Rankings</a></div>
        <div class="link-container bg-lime-300 p-20 rounded-3xl ease-in-out duration-200 hover:scale-105 hover:shadow-xl active:scale-95"><a href="">Table Rankings</a></div>
        <div class="link-container bg-lime-300 p-20 rounded-3xl ease-in-out duration-200 hover:scale-105 hover:shadow-xl active:scale-95"><a href="">Category Rankings</a></div>
    </section>
{% endblock %}
