{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <section class="w-screen p-10 grid grid-cols-5 grid-flow-col gap-4">
        <img src="https://picsum.photos/400/200" class="image-container h-full col-span-3 w-full"></img>
        <div class="ranking-preview h-full col-span-2 text-xl text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, ut dicta iste reiciendis sunt nisi sequi provident commodi. Consequatur, similique aspernatur esse eos doloribus numquam libero atque expedita praesentium et.
        </div>
    </section>
{% endblock %}
