{% extends 'base.html.twig' %}

{% block title %}
	{{controller_name}}
{% endblock %}

{% block body %}
<ul>
{% for csv_file in csv_files %}
  <li>
  <a class="flex items-center" href="{{ path('app_edit_viewcsv', { slug: csv_file.filename | trim('.csv', 'right') }) }}">
    {% if csv_file.usable %}
    <svg viewbox="0 0 24 24" class="text-green-600 w-5 h-5 sm:w-5 sm:h-5 mr-3">
      <path fill="currentColor" d="M12,0A12,12,0,1,0,24,12,12.014,12.014,0,0,0,12,0Zm6.927,8.2-6.845,9.289a1.011,1.011,0,0,1-1.43.188L5.764,13.769a1,1,0,1,1,1.25-1.562l4.076,3.261,6.227-8.451A1,1,0,1,1,18.927,8.2Z"></path>
    </svg>
    {% else %}
    <svg viewbox="0 0 24 24" class="text-red-600 w-5 h-5 sm:w-5 sm:h-5 mr-3">
      <path fill="currentColor" d="M11.983,0a12.206,12.206,0,0,0-8.51,3.653A11.8,11.8,0,0,0,0,12.207,11.779,11.779,0,0,0,11.8,24h.214A12.111,12.111,0,0,0,24,11.791h0A11.766,11.766,0,0,0,11.983,0ZM10.5,16.542a1.476,1.476,0,0,1,1.449-1.53h.027a1.527,1.527,0,0,1,1.523,1.47,1.475,1.475,0,0,1-1.449,1.53h-.027A1.529,1.529,0,0,1,10.5,16.542ZM11,12.5v-6a1,1,0,0,1,2,0v6a1,1,0,1,1-2,0Z"></path>
    </svg>
    {% endif %}
    <span>{{ csv_file.filename}}</span>
    </a>
  </li>
{% endfor %}
</ul>
<div class="my-4 mx-2">
<a class="bg-green-500 font-bold rounded-full inline-block text-white shadow-lg py-2 px-4 active:scale-95 hover:scale-105" href="{{path('app_edit_insertcsv')}}">
  New
</a>
</div>
{% endblock %}

