<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> {{project_name}} - {% block title %}Welcome!{% endblock %} </title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <script src="https://cdn.tailwindcss.com"></script>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="w-full p-2 flex items-center gap-4 bg-lime-300">
            <img src="https://picsum.photos/400/200" class="h-10" alt="Logo de XXXXX"></img>
            <h1 class="text-2xl"> {{project_name}} - {% block page_title %}Home{% endblock %} </h1>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
