<header class="w-full p-2 flex items-center gap-4 bg-[#6A994E]">
    <img src="https://picsum.photos/400/200" class="h-10" alt="Logo de XXXXX"></img>
    <h1 class="text-2xl"> PinFX Tracker - {{controller_name}} </h1>
</header>